#heading {
font-size: 40px;
width: 1300px;
margin: 10px;
background-color:deepskyblue;
font-variant: small-caps;
letter-spacing: 3px;
border-radius: 10px;
}

#status , #object_number{
font-size: 20px;
color: darkblue;
}

body {
    background-size: cover;
    background-position:center;
}

canvas {
    border: solid 5px rgb(20, 23, 220);
    box-shadow: 10px 10px 30px rgb(0, 225, 255);
    border-radius:20px;
    margin-top: 70px;
}
